body {
    background-color: hsl(0, 0%, 94%);
}

h1 {
    margin: 0;
    padding: 16px 0;
}

.weapon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.weapon-label {
    font-size: 1.5rem;
    font-weight: 700;
}

.weapon-avatar {
    width: 150px;
    transform: rotate(30deg);
}

.weapon-avatar:hover {
    animation: wiggle-30 0.2s 2;
}

.weapon-avatar.scissors {
    transform: rotate(90deg);
}

.weapon-avatar.scissors:hover {
    animation: wiggle-90 0.2s 2;
}

.layout-flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.layout-weapons {
    display: flex;
    justify-content: space-evenly;
}

@keyframes wiggle-30 {
    from {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(34deg);
    }
    50% {
        transform: rotate(38deg);
    }
    80% {
        transform: rotate(34deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes wiggle-90 {
    from {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(94deg);
    }
    50% {
        transform: rotate(98deg);
    }
    80% {
        transform: rotate(94deg);
    }
    to {
        transform: rotate(90deg);
    }
}