body {
    background-color: hsl(0, 0%, 94%);
}

h1 {
    margin: 0;
    padding: 16px 0;
}

.layout-score-board {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    padding: 16px;
}

.score-card {
    font-size: 1.3rem;
}

.score {
    font-size: 2rem;
    font-weight: 700;
}

.match-result {
    font-size: 2.5rem;
    font-weight: 800;
}

.layout-selected-weapons {
    display: flex;
    justify-content: space-evenly;
}

.portrait {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
}

.selected-weapon {
    width: 250px;
    height: 250px;
}

.portrait.rock {
    background-image: url("icons/rock.png");
}

.portrait.paper {
    background-image: url("icons/paper.png");
}

.portrait.scissors {
    background-image: url("icons/scissors.png");
}

.weapon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.weapon-label {
    font-size: 1.5rem;
    font-weight: 700;
}

.weapon-avatar {
    width: 150px;
    transform: rotate(30deg);
}

.weapon-avatar:hover {
    animation: wiggle-30 0.2s 2;
}

.weapon-avatar.scissors {
    transform: rotate(90deg);
}

.weapon-avatar.scissors:hover {
    animation: wiggle-90 0.2s 2;
}

.layout-flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.layout-weapons {
    display: flex;
    justify-content: space-evenly;
}

@keyframes wiggle-30 {
    from {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(34deg);
    }
    50% {
        transform: rotate(38deg);
    }
    80% {
        transform: rotate(34deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes wiggle-90 {
    from {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(94deg);
    }
    50% {
        transform: rotate(98deg);
    }
    80% {
        transform: rotate(94deg);
    }
    to {
        transform: rotate(90deg);
    }
}