html {
    font-size: 16px;
}

body {
    background-color: hsl(0, 0%, 94%);
}

h1, h2, h3 {
    margin: 0;
    padding-bottom: 5px;
}

a {
    color: #000;
    cursor: help;
}

.layout-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    row-gap: 1.5rem;
    margin: 0 auto;
}

.layout-selected-weapons {
    display: flex;
    justify-content: space-evenly;
}

.layout-score-board {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
}

.layout-weapons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.3rem;
    padding-top: 1.5rem;
}

.layout-weapons>.weapon {
    width: 33%
}

.score-card {
    font-size: 1.2rem;
    min-width: 70px;
}

.score {
    font-size: 1.8rem;
    font-weight: 700;
    border-top: 1px solid black;
}

.match-result {
    font-size: 2rem;
    font-weight: 800;
}

.portrait {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
}

.selected-weapon {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.portrait.rock {
    background-image: url("icons/rock.png");
}

.portrait.paper {
    background-image: url("icons/paper.png");
}

.portrait.scissors {
    background-image: url("icons/scissors.png");
}

.portrait.lizard {
    background-image: url("icons/lizard.png");
}

.portrait.spock {
    background-image: url("icons/spock.png");
}

.weapon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.weapon-label {
    font-size: 1.3rem;
    font-weight: 700;
}

.weapon-avatar {
    width: 75px;
}

.weapon-avatar.spock {
    transition: transform 0.3s ease-in-out;
}

.weapon-avatar.spock:hover {
    transform: scale(1.1);
}

.is-hover-wiggle30:hover {
    animation: wiggle-30 0.2s 2;
}

.is-hover-wiggle90:hover {
    animation: wiggle-90 0.2s 2;
}

.is-hover-animate-lizard:hover {
    animation: lizard-wiggle 0.1s 5;
}

.tilt30 {
    transform: rotate(30deg);
}

.tilt-20 {
    transform: rotate(-20deg);
}

.tilt90 {
    transform: rotate(90deg);
}

footer {
    margin-top: 25px;
    font-size: 0.8rem;
    line-height: 1.5;
}

footer .credits {
    font-size: 0.6rem;
}

.github-icon {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    background-image: url("icons/github.png");
    background-size: contain;
}

@media screen and (max-height: 680px) {
    html {
        font-size: 13px;
    }
    .selected-weapon {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 20px;
    }
    .layout-score-board {
        justify-content: space-evenly;
        column-gap: 0;
    }
    .selected-weapon {
        width: 225px;
        height: 225px;
    }
    .weapon-avatar {
        width: 125px;
    }
    .layout-weapons {
        column-gap: 1rem;
    }
    .layout-weapons>.weapon {
        width: auto;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 25px;
    }
    .layout-app {
        max-width: 1200px;
    }
}

@keyframes lizard-wiggle {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(8deg);
    }
    80% {
        transform: rotate(4deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes wiggle-30 {
    from {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(34deg);
    }
    50% {
        transform: rotate(38deg);
    }
    80% {
        transform: rotate(34deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes wiggle-90 {
    from {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(94deg);
    }
    50% {
        transform: rotate(98deg);
    }
    80% {
        transform: rotate(94deg);
    }
    to {
        transform: rotate(90deg);
    }
}